.gallery{
  &__title{
    margin: 39px 0;
    text-align: center;
    @include set-font(24,31);
  }
  &__raw {
    display: grid;
    grid-template-columns: repeat(6, 296px);
    grid-gap: 20px;
    justify-content: center;
    img {
      width: 100%;
      height: 100%;
      transition: $transition-time;
    }
  }
  &__img-container{
    overflow: hidden;
    transition: $transition-time;
    &:hover{
        box-shadow: 0 0 30px rgba(0, 0, 0, 1);
        img{
          transform: scale(1.2);
        }
    }
  }
}