$primary-color: #171717;
$mark-color: #C9A96E;
$grey-color: #E5E5E5;
$grey2-color: #B4B4B4;
$grey3-color: #666666;
$grey4-color: #B1B1B1;
$light-color: #FFFFFF;
$serif-font: "PT Serif";
$sans-font: "PT Sans";
$extra-font: 'HK Grotesk';
$fs-small: 14px;
$fs-medium: 20px;
$fs-big: 25px;

@mixin set-font($size, $height){
  font-size: $size + px;
  line-height: $height + px;
}
@font-face {
  font-family: "PT Serif";
  src: url("../../fonts/PTSerif-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "PT Sans";
  src: url("../../fonts/PTSans-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "HK Grotesk";
  src: url("../../fonts/HKGrotesk-Regular.otf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a{
  text-decoration: none;
  color: unset;
}
.page {
  color: $primary-color;
  font-family: $serif-font, serif;
  &__poster{
    margin-bottom: 59px;
  }
  &__gallery{
    margin-bottom: 60px;
  }
  &__main{
    margin: 0 auto 80px;
    max-width: 1170px;
    display: flex;
    justify-content: space-between;
  }
  &__gallery{
      margin-bottom: 80px;
  }
  &__footer{
    margin: 0 auto 29px;
  }
}
.logo{
  display: flex;
  align-items: center;
  font-weight: 700;
  @include set-font(25,33);
}
.nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 360px;
  @include set-font(14,19);
  &__item{
    &_active{
      color: $mark-color;
    }
  }
}
.card{
  text-align: center;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  img{
    width: 100%;
    margin-bottom: 15px;
  }
  &__text{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 42px;
    margin-bottom: 14px;
  }
  &__type{
    text-transform: uppercase;
    color: $mark-color;
    margin-bottom: 4px;
    @include set-font(12,15);
  }
  &__primary_title{
    margin-bottom: 10px;
    @include set-font(20,28);
  }
  &__subtitle{
    display: flex;
    p{
      margin-right: 10px;
      color: $grey3-color;
      @include set-font(12,15)
    }
    span{
      color: $grey4-color;
    }
  }
}
.title-block{
  height: 50px;
  border: 1px solid $grey-color;
  display: flex;
  justify-content: center;
  align-items: center;
  @include set-font(16,21);
}
.icon-links{
  width: 304px;
  display: flex;
  justify-content: space-between;
  &__item{
    width: 34px;
    height: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: 1px solid #666;
    border-radius: 50%;
    &:hover{
      background-color: $mark-color;
      border: none;
      svg{
        fill: $light-color;
      }
    }
  }
}
