.stories{
  width: 100%;
  max-width: 770px;
  &__feed{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 60px;
    grid-column-gap: 30px;
    margin-bottom: 60px;
  }
  &__item{
    &_wide{
      grid-column: 1/3;
      .card {
        &__text {
          text-align: left;
          padding: 0 30px;
          align-items: flex-start;
          margin-bottom: 25px;
        }
        &__type {
          margin-bottom: 6px;
        }
        &__primary_title {
          margin-bottom: 11px;
        }
        &__description {
          @include set-font(14, 24);
        }
      }
    }
  }
  &__pagination{
    width: 100%;
    max-width: 509px;
    height: 50px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 39px;
    border: 1px solid $grey-color;
    a {
      font-family: $extra-font, sans-serif;
      position: relative;
      @include set-font(14,16);
      &:first-child:before {
        position: absolute;
        content: '<';
        left: -10px;
        transform: translateX(-100%);
      }
      &:last-child:after {
        position: absolute;
        content: '>';
        right: -10px;
        transform: translateX(100%);
      }
    }
  }
}