$primary-color: #171717;
$mark-color: #C9A96E;
$grey-color: #E5E5E5;
$grey2-color: #B4B4B4;
$grey3-color: #666666;
$grey4-color: #B1B1B1;
$grey5-color: #F8F9FA;
$grey6-color: #999999;
$light-color: #FFFFFF;
$serif-font: "PT Serif";
$sans-font: "PT Sans";
$extra-font: 'HK Grotesk';
$transition-time: 400ms;

@mixin set-font($size, $height){
  font-size: $size + px;
  line-height: $height + px;
}

@font-face {
  font-family: "PT Serif";
  src: url("../../fonts/PTSerif-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "PT Sans";
  src: url("../../fonts/PTSans-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "HK Grotesk";
  src: url("../../fonts/HKGrotesk-Regular.otf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@import 'global';
@import 'header';
@import 'poster';
@import 'stories';
@import 'sidebar';
@import 'gallery';
@import 'footer';
@import 'media';
